@import "./custom-theme.css";
@import "./dark-mode.css";
@import "./components/theme-toggle.css";
@import "./components/auth.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Sidebar en Claro y Oscuro */
    .bg-navy-sidebar {
        background-color: #005e66;
    }
    .dark .bg-navy-sidebar {
        background-color: #0b1120 !important; /* Sidebar carbón oscuro */
        border-right: 1px solid #1e293b;
    }

    .bg-navy-active {
        background-color: #3cb0a4;
    }
    .dark .bg-navy-active {
        background-color: #0284c7 !important; /* Azul sutil para enlaces activos */
    }
}